.pointer{
    cursor: pointer;
}

.zen-font{
    font-family: 'Zen Dots', cursive;
}

a.text-secondary:hover{
    font-stretch: extra-expanded;
    -webkit-text-stroke: 0.1px #fff6ee;
    font-weight: 700;
}