@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
/* make the customizations */
$theme-colors: (
    "primary": #f28500,
    "secondary": #f4921c,
    "success": #fdc651,
    "info": #514d4a,
    "warning": #c96302,
    "danger": #ae4d02,
    "light": #fff6ee,
    "dark": #2e2d2c
);

.icono-carrito {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 60px;
    margin-right: 0.5em;
    fill: #f28500;
}

.pointer {
    cursor: pointer;
}

.zen-font {
    font-family: 'Zen Dots', cursive;
}

.fit-image {
    object-fit: cover;
    object-position: center;
}

.fit-image-detail {
    object-fit: contain;
    object-position: center;
    max-height: 30em;
}

html {
    min-height: 100%;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.custom-toast{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    width: 12em !important;
}
@import "node_modules/bootstrap/scss/bootstrap.scss";